<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-9">
      <div class="page-header">
        <h1>Hi. <small>Let's write down your to-do!</small></h1>
      </div>
    </div>
  </div>
    
  <div class="row">
    <div class="col-sm-2">
      <div class="vertical-center">
        <a href=<%= lists_path() %> ><span class="glyphicon glyphicon-chevron-left"></span>Back</a>
      </div>
    </div>

    <div class="col-sm-6">
      <%= form_for @list do |f| %>
        <div class="form-group">
          <%= f.label :item_name, "Task Name" %>
          <%= f.text_field :item_name, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :due_date, "Due Date" %>
          <%= f.text_field :due_date, :id => "picker", :class => "form-control", "data-provide" => "datepicker", :readonly => true %>
        </div>
        <div class="form-group">
          <%= f.label :memo, "Memo" %>
          <%= f.text_area :memo, :class => "form-control"%>
        </div>
        <%= f.submit "Confirm" , :class => "btn btn-primary"%>
      <% end %>
    </div>
    
    <div class="col-sm-4">
      <% if @list.errors.present? %>
        <% @list.errors.each do |error, message| %>
          <div class="error-msg alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4><%= "#{error.capitalize}  #{message}" %></h4>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(function () {
    $('#picker').datepicker({
      format: 'yyyy-mm-dd',
      startDate: new Date(),
      todayHighlight: true
    });
  });
</script>