<div class="row">
  <div class='col-sm-6'>
    <div class="form-group">
      <%= form_for @list do |f| %>
        <%= f.label :item_name, "Task Name" %>
        <%= f.text_field :item_name %>

        <div class='input-group date' id='datetimepicker1'>
          <%= f.text_field :due_date, class: "form-control" %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>

        <%= f.label :memo, "Memo" %>
        <%= f.text_area :memo %>
        <%= f.submit "Confirm" %>
      <% end %>
    </div>
  </div>
</div>

  
<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker();
  });
</script>